{% extends "base_page.html" %}

{% block pagetitle %}
Переводчик
{% endblock %}

{% block page-title %}
Переводчик
{% endblock %}


{% block content %}
<div class="container px-4 py-5" id="show-translator">
    <form method="POST" id = 'translating'>
        <div class="col">
            <select id="inputState" class="form-control" name="lang">
                {% if language_start == 'rus' %}
                <option selected value="rus" style = "text-align: center">Русский -> Английский</option>
                <option value="en" style = "text-align: center">Английский -> Русский</option>
                {% else %}
                <option value="rus" style = "text-align: center">Русский -> Английский</option>
                <option selected value="en" style = "text-align: center" selected>Английский -> Русский</option>
                {% endif %}
            </select>
        </div>
        <div class="form-row mt-4">
            <div class="col">
                <table>
                    <tr>
                        <td colspan="2">
                            <td width="50%">
                                <textarea type="text" id="txt" name="txt" class="form-control" placeholder="Впишите текст" rows="5" required="required">{{start}}</textarea>
                            </td>
                    <td width="50%">
                        <textarea readonly type="text" id="txt_trans" name="txt_trans" class="form-control" placeholder="Ваш перевод" rows="5">{{result}}</textarea>
                    </td>
                    </tr>
                </table>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Перевести</button>
    </form>
</div>
<script type="text/javascript">
$(document).on('submit','#translating1',function(e){
    e.preventDefault();
    $.ajax({
        type:'POST',
        url:'/translator_window',
        data:{
        txt : $(#txt).val()
        txt_trans : $(#txt_result).val()
        },
        })
    e.preventDefault();
    });
</script>
{% endblock %}
